@media (max-width: 500px) {

    nav {
        padding: 10px 15px;
        font-size: 1em;
    }

    .social-media span {    
        top: 30px;

    }

    .title {
        font-weight: 300;
    }
    

    .timer {
        font-size: 3rem;
    }

    .timer input {
    all: unset;
    padding: 0;
    width: 100px;
}

}

