
:root {
    --color-bg-black: #1b1b1b;
    --color-bg-white: #dedede;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    mix-blend-mode: difference;

}

body {
    background: var(--color-bg-white);
    color: white;

    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    text-underline-offset: none;

    background-blend-mode: difference;   
    
    transition: all linear 2s;
}


a,a:visited {
    text-decoration: none;
    display: block;
}

.display-none {
    display: none;

}

.hidden {
    visibility: hidden;
}
